html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}
body {
  display: flex;
  justify-content: center;
}
.container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 0 auto;
  /* width: 550px; */
}
.img-container {
  height: 200px;
  overflow: hidden;
  margin: auto;
}
img {
  text-align: center;
  height: 100%;
  width: auto;
}
.bellow-img {
  width: 290px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.word-container {
  display: flex;
  flex-direction: column;
}
.word {
  font-size: 1.6rem;
  margin-bottom: -5px;
}
.char {
  padding: 0.4rem;
  margin: 0.2rem;
  background: #ddd;
}
.hint {
  padding: 1rem;
  color: rgb(187, 38, 100);
  font-weight: 800;
  font-size: 0.9rem;
  cursor: pointer;
}
.next-container {
  cursor: pointer;
  padding: 1rem;
}
.next {
  font-weight: 800;
  padding: 0.5rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 0.2rem;
  margin-left: auto;
  transform: rotate(-45deg);
}
.help-container {
  display: flex;
  flex-direction: column;
}
#help {
  color: rgb(44, 92, 143);
  font-size: 1.2rem;

}
.bravo {
  opacity: 0;
}
.medal {
  width: 60px;
  height: auto;
  display: block;
  margin: -0.2rem auto 0;
}
input {
  width: 90%;
  padding: 0.5rem;
  font-size: 17px;
  margin-bottom: -20px;
}
.bottom-section {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}